@media (max-width:400px) {
  .content{
    width: 260px;
  }
  .text{
    font-size: 20px;
  }
  .content .field{
    height: 40px;
  }
  .field input{
      font-size: 16px;
  }
  .field span{
    position: absolute;
    width: 40px;
    line-height: 40px;
  }
  button{
    height: 40px;
    font-size: 17px;
  }
  .icon-button span{
    padding-left:3px;
    padding-right: 3px;
    padding-top: 4px;
    font-size: 16px;
    padding-bottom: 3px;
  }
  .icon-button span.facebook{
    margin-right: 3px;
  }
}