.animated-text {
    animation-name: slide-in;
    animation-duration: 3s;
    animation-fill-mode: forwards; /* Keeps the element in the state of the last keyframe after the animation is finished */
  }

  @keyframes slide-in {
    from {
  transform: translateX(-100%);
  opacity: 0;
    }
    to {
  transform: translateX(0);
  opacity: 1;
    }
  }
  nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1; /* set a higher value */
}

body {
margin: 0;
padding: 0;
}

.fullscreen-image {
position: relative;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.fullscreen-image img {
position: absolute;
top: 0;
left: 0;
object-fit: cover;
height: 100%;
width: 100%;
z-index: -1;
}

.fullscreen-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom right,#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-fly-in {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
animation-name: fly-in;
animation-duration: 3s;
}
@keyframes fly-in {
from {
  transform: translate(-50%, -100%);
  opacity: 0;
}
to {
  transform: translate(-50%, -50%);
  opacity: 1;
}
}


.aboutus{
    background: radial-gradient(circle at -8.9% 51.2%, rgb(63, 63, 59) 0%, rgb(44, 42, 40) 15.9%, rgb(36, 32, 29) 15.9%, rgb(32, 24, 17) 24.4%,
		 #000000 24.5%, #2A0134);
     color: antiquewhite;
     display: flex;
     flex-direction: column;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust the height as needed */
  position: relative;
  border-radius: 10px; /* Border radius */
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
}
